/* a. Centralizar e definir a largura máxima do container no CSS */
.container {
	max-width: 1128px;
	margin: 0 auto;
}

/* b. especificando o tamanho do header */
.header {
	width: 100%;
	margin-top: 3.6em;
	margin-bottom: 3.6em;
}

/*c) Especificando o posicionamento da caixa*/
.caixa {
	width: 42.55319148936%; /* 264px / 1128px */
	padding: 2.4em 4em 2.4em 4em;
	position: absolute;
	top: 48px;
	background: rgba(0,0,0,0.6);
	color: #FFFFFF;
}

/*d) Formatando as colunas */
.coluna {
	width: 23.404255319149%;
	margin-right: 2.127659574468%;
	float: left;
}

/* Subclasse - último elemento da classe */
.coluna:last-child {
	margin-right: 0;
}

/* Formatando o rodapé */
.footer {
	width: 100%;
	margin-top: 2.4em;
	margin-bottom: 2.4em;
	float: left;
	clear: both;
}

/**********************
Normatização do CSS
**********************/
body {
	line-height: 1.5;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
}

a {
	color: #00ccff;
	text-decoration: none;
	font-size: 1.6em;
}

a:hover {
	text-decoration: underline;
}

h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 4em;
	font-weight: 200;
	color: #FFF;
}

.caixa p {
	font-size: 1.8em;
	font-weight: 200;
	color: #fff;
}

h2 {
	font-size: 1.4em;
	font-weight: 200;
}

p {
	font-size: 1.0em;
}

p > a {
	font-size: 1.0em;
}

.footer p {
	margin-bottom: 0;
}

.footer small {
	font-size: 1.4em;
}

.footer a {
	font-size: 1em;
}
